<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
<form action = "" method = "post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input name="random" type="submit" value="I'm too crazy...choose my procedure for me!" hx-post="." hx-target="#response" hx-swap="innerHTML">
	<input name="choosing" type="submit" value="I'm a control freak...let me choose." hx-post="." hx-target="#response" hx-swap="innerHTML">
</form>
<div id="response"></div>

